/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-abr-2016, 21:53:24
    Author     : jtuyin

*/
*{
    margin: 0;
    padding: 0;
}
.acceso{
    align-content: center;
    background:#fff;
    color:lightgreen; 
    margin: 120px auto;
    padding: 40px auto;
    border-color: lightgreen;    
    border-width: thin;
    border-style: solid;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    width: 50%;
    
}
.logo{
    background-image: url("../img/icono_em.png");
    background-repeat: no-repeat;
    background-size: 120px 90px;
    background-position: right center;
    width: 20%;
    float: left;
    height: 200px;
    
}
input[type=text], input[type=password]{
    width: 70%;
    padding: 15px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus,input[type=password]:focus {
    background-color: #e0ffd5;
}
.button {
    background-color: #00cc00; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
}
.buttonAzul {background-color: #008CBA;} /* Blue */
.buttonNaranja {background-color: #e0570c;} /* Blue */
.buttonRojo {background-color: #f44336;} /* Red */ 
.buttonGris {background-color: #e7e7e7; color: black;} /* Gray */ 
.buttonNegro {background-color: #555555;} /* Black */

.buttonAcceso{
    width: 70%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
}