
/* 
    Created on : 03-may-2016, 11:19:20
    Author     : jtuyin
*/


/*Para Formularios*/
.frm-disabled{
    background-color: lightgray; 
    color: grey;
    
}
.frm-enabled{
     background-color: #c1e2b3; 
    color: black;
}

.button {
    background-color: #00cc00; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    
    margin: 4px 2px;
    cursor: pointer;
}
.buttonAzul {background-color: #008CBA;} /* Blue */
.buttonNaranja {background-color: #e0570c;} /* Blue */
.buttonRojo {background-color: #f44336;} /* Red */ 
.buttonGris {background-color: #e7e7e7; color: #ccc; border-color: #ccc;} /* Gray */ 
.buttonNegro {background-color: #555555;} /* Black */


input[type=text], input[type=date], input[type=number],select {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus,input[type=date]:focus, input[type=number]:focus,select:focus {
    background-color: #e0ffd5;
}
