/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-feb-2016, 22:19:48
    Author     : jtuyin
*/


.navegacion{
    background-color: #ffcc00;
    float: left;
    margin-right: 5px;
    padding: 4px;
    width: 185px;
    height: 600px;
}

.panel {
    /*border-radius: 5px;border-top: #aaa thin solid;*/
     
    border: #aaa thin solid;
    background-color: #f0f0f0;
    float: left;
    height: 430px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
    position: relative;
}
.encabezado{
    float: left;
    width: 99%;
    background: #ffcc00;
    /*padding-left: 15px;*/
}

.principal{
    box-shadow: 10px 10px 5px #888888;
    width: 48%;
    margin-right: 10px;
}
.operaciones{
    width: 27%;
    box-shadow: 10px 10px 5px #888888;
}

/*Colores de Temas*/

.basico{
    background:#00cc00;
    color:#FFFFFF;
    padding: 3px;
    text-decoration:none;
    height: 30px;
    text-align: left;
    vertical-align: central;
}

.basico-borde{
    background:#00cc00;
    text-decoration:none;
    color:#FFFFFF;
    padding: 3px;
    border: 1px solid #aaa;
}
.seleccionado{
    background:#4dff4d; 
    text-decoration:none;
    color:#000;
}
.alerta{
    background:#ffcc00; 
    text-decoration:none;
    color:#000;
    padding: 10px 15px;
    text-align: center;
}
.error{
    background:#E13300; 
    text-decoration:none;
    color:#f0f0f0;
    padding: 10px 15px;
    text-align: center;
}
.correcto{
    background:#00cc66; 
    text-decoration:none;
    color:#000;
}
.dialog {    
    border-top: #888888 thin solid;
    border-left: #888888 thin solid; 
    background-color: #f0f0f0;
    box-shadow: 10px 10px 5px #888888;
    display: none;
    margin-left: 30px;
    margin-right: 30px;
    padding:30px;
    position:fixed; 
    top: 150px;
    width: 40%;
}

.absolute {
    position: absolute;
    bottom: 40px;
}