
.menu_bar {
	display:none;
}
.menu{
    padding:0;
    list-style:none;
    font-size:18px;
    background:#aaa;
    /*border: 1px solid rgba(0,0,0,0.8);*/
    
}
/*Lista de 1er nivel del Menu*/
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
/*Items de 1er nivel del Menu*/
.menu li a{
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:5px;
    padding-left:10px;
}
.menu li a:hover {
    background: none repeat scroll 0 0 #00ff00;
    background:#40ff00;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}

.menu ul li a{
    background:#c9c9c9;
}
 
/*Lsita de 2do nivel del Menu*/
 
.menu li:hover ul{
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}

 /*Items de 2do nivel del Menu*/

.menu li ul li a{
    font-size:14px;
    color:#47689d;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
}
/*opcion activa*/
.activo{
    background:#4dff4d; 
    text-decoration:none;
    color:#000;
}

/*
@media only screen and ( max-width: 40em ) /* 640 */
/*{
    .menu
    {
        position: relative;
    }
    .menu > a
    {
    }
    .menu:not(:target)> a:first-of-type,
    .menu:target > a:last-of-type
    {
        display: block;
    }
    /* first level 
     .menu> ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        .menu:target > ul
        {
            display: block;
        }
        .menu> ul > li
        {
            width: 50%;
            float: none;
        }
 
    /* second level 
    .menu li ul
    {
        position: static;
    }
}
*/

@media screen and (max-width:500px ) {
	nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#47689d;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
