/*  Created on : 03-may-2016, 11:19:20
 *  Author     : jtuyin
/*Ajustes para la section clientes*/


h2{
    width: 100%;
    text-align:center;
}
table.scroll th{
  color: #FFFFFF;
}
table.scroll tr:nth-child(even) {
    background-color: #b8F7A6;
}


/*Control*/ 
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    border-bottom: 3px solid #00cc00;
    
}


table.scroll thead, table.scroll tbody { 
    display: block;
    width: 100%;
}
table.scroll thead th ,
table.scroll tbody td { 
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    
}
.cel{
    color: white;
}
.pendiente{
    background-color: #ff9800;
}
.pagado{
    background-color: #00cc66;
}
.suspendido{
    background-color: #f44336;
    font-weight:bold;    
}
/*
table.scroll th:first-child{
  display: none;
}
table.scroll thead th:first-child,
table.scroll tbody td:first-child{
  width:10%;
  content: "X";
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
}

table.scroll thead {
   
    width: 97%;
    width: calc(100% - 17px);
    
}

table.scroll thead tr{
    display: block;
    width: 100%;
   
}

table.scroll tbody tr{
    border-bottom: 1px solid lightgray;
    display: block;
    width: 100%;
   
}

table.scroll tbody tr:hover{
    background: #E0FFD5;
}
table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}*/