/*  Created on : 03-may-2016, 11:19:20
 *  Author     : jtuyin
/*Ajustes para la section clientes*/


/*Control table*/
table.scroll {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    border-bottom: 3px solid #00cc00;
    
}
table.scroll td:first-child{
  display: none;
}
table.scroll th:first-child{
  display: none;
}
table.scroll thead, table.scroll tbody { 
    display: block;
    width: 100%;
}
table.scroll thead th { 
    height: 30px;
    line-height: 30px;
    text-align: left;
    display: block;
    float: left;
    width: 24%;
}
table.scroll tbody td { 
    height: 40px;
    line-height: 30px;
    display: block;
    float: left;
    width: 24%;
}
table.scroll tbody {
    height: 300px;
    overflow-y: auto;
}
table.scroll thead {
    /*fallback */
    width: 97%;
    /* minus scroll bar width */
    width: calc(100% - 17px);
    
}
table.scroll thead tr{
    display: block;
    width: 100%;
   
}
table.scroll tbody tr{
    border-bottom: 1px solid lightgray;
    display: block;
    width: 100%;
   
}
table.scroll tbody tr:hover{
    background: #E0FFD5;
}
table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}


/*Control tabstrip*/
.tab{
    border-top: #00cc00 solid thin;
    border-right: #00cc00 solid thin;
    margin-left: 2px;
    background-color: #4dff4d;
    color:#fff;
}
.tabactiva{
    background:#00cc00; 
    border-bottom: #00cc00 solid 2px;
    color:#000;
}
.navtab{
    border-bottom: #00cc00 solid 2px;
    clear:both;
    display: inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top: 3px;
    overflow:hidden;
    width: 100%;
}
.navtab li{
    float:left
}
.navtab li a{
    display:block;
    padding:8px 16px;
    text-decoration: none;
}
.navtab li a:hover{
    background-color:#40ff00
}
.navtab div{
    display: block;float:right; margin-top:-7px;
}
.tabpanel{
    content:"";
    clear:both;
}
.tabpanel table.scroll tbody {
    height: 250px;
}
.buttontabpaginador{
    background-color: #4dff4d;   
    border-radius: 5px;
    color:#fff;
    margin-left: 2px;
    margin-top: 3px;
    padding: 10px 20px;
}
.buttontabpaginador-disabled{
    background-color: #999999;
    border:none;    
    color:#fff;
    margin-left: 2px;
    padding: 10px 20px;
}

/*Tarjetas de panel de monitoreo*/
.card{
    display: inline-block;
    width: 45%;
    height: 140px;
    overflow: hidden;
    position: relative;
    border-radius: 3px 3px 0 0;
}
.label-info {
    background-color: #00cc00;
}
.label-alert {
    background-color: #e0570c;
}
.card-title-info{
     background-color: #fff; /*#4dff4d;*/ 
}
.card-title-alert{
     background-color: #ffcc00; 
}
.card h2 {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
}
.card p {
    color: #fff;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 5px;
    font-size: 3em;
}
.cel{
    color: white;
}
.pendiente{
    background-color: #ffb900;
}
.pagado{
    background-color: #00cc22;
}
.suspendido{
    background-color: #f94336;
    font-weight:bold;    
}